html,
body,
#root,
.main {
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.city-tile,
.city-tile-new {
  width: 12rem;
  height: 18rem;
  margin: 1rem;
  overflow: hidden;
}
.city-tile-new {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.city-tile-new:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 0 2px grey;
}
.city-tile:hover {
  cursor: pointer;
  background-color: maroon;
  color: white;
}
.city-tile-delete-icon {
  margin-top: 40px;
}

.city-tile-temperature {
  font-size: 22px;
  font-weight: bold;
}
.city-tile-temperature .degrees {
  color: blue;
  font-size: 2rem;
  margin-left: 4px;
}

.weather-tiles-enter-done {
  box-shadow: 0 0 0 2px grey;
  animation: flash 0.2s linear;
}
@keyframes flash {
  0% {
    box-shadow: 0 0 0 0px grey;
  }
  100% {
    box-shadow: 0 0 0 2px grey;
  }
}

/* new city tile transitions */
.weather-tiles-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.weather-tiles-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity ease-in 200ms, transform ease-in 200ms;
}
.weather-tiles-exit {
  opacity: 1;
  transform: translateY(0%);
}
.weather-tiles-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity ease-in 200ms, transform ease-in 200ms;
}
